











/* line 4, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 12, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 16, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 42, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

/* line 18, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 20, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 22, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img { border: none; }




















/* line 21, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
/* line 52, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
/* line 57, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h1 img { margin: 0; }
/* line 59, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }
/* line 63, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
/* line 68, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
/* line 73, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
/* line 78, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }
/* line 82, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body h2 img, body h3 img, body h4 img, body h5 img, body h6 img { margin: 0; }
/* line 84, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body p { margin: 0 0 1.5em; }
/* line 86, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 90, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
/* line 94, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body a { text-decoration: underline; color: #000099; }
/* line 12, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:visited { color: #000066; }
/* line 15, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:focus { color: black; }
/* line 18, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:hover { color: black; }
/* line 21, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body a:active { color: #cc0099; }
/* line 97, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body blockquote { margin: 1.5em; color: #666; font-style: italic; }
/* line 101, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body strong { font-weight: bold; }
/* line 103, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body em { font-style: italic; }
/* line 105, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body dfn { font-style: italic; font-weight: bold; }
/* line 108, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body sup, body sub { line-height: 0; }
/* line 110, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body abbr, body acronym { border-bottom: 1px dotted #666; }
/* line 112, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body address { margin: 0 0 1.5em; font-style: italic; }
/* line 115, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body del { color: #666; }
/* line 117, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body pre { margin: 1.5em 0; white-space: pre; }
/* line 120, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body pre, body code, body tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
/* line 122, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body li ul, body li ol { margin: 0 1.5em; }
/* line 124, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }
/* line 127, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }
/* line 130, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body dl { margin: 0 0 1.5em 0; }
/* line 132, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body dl dt { font-weight: bold; }
/* line 134, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body dd { margin-left: 1.5em; }
/* line 136, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body table { margin-bottom: 1.4em; width: 100%; }
/* line 139, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body th { font-weight: bold; }
/* line 141, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body thead th { background: #c3d9ff; }
/* line 143, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body th, body td, body caption { padding: 4px 10px 4px 5px; }
/* line 145, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body tr.even td { background: #e5ecf9; }
/* line 147, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body tfoot { font-style: italic; }
/* line 149, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body caption { background: #eee; }
/* line 151, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body .quiet { color: #666666; }
/* line 153, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body .loud { color: #111111; }
/* line 18, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body body { margin: 1.5em 0; }
/* line 35, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body .box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }
/* line 38, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eee; }
/* line 41, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body div.colborder { padding-right: 24px; margin-right: 25px; border-right: 1px solid #eee; }
/* line 43, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body hr { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }
/* line 45, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body hr.space { background: #ddd; color: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; background: #fff; color: #fff; }
/* line 10, ../../../app/stylesheets/screen.sass */
body #container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; }
/* line 5, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body #container { display: block; }
/* line 13, ../../../app/stylesheets/screen.sass */
body.posts ul#posts, body.posts .tools ul { margin: 0; }
/* line 8, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
body.posts ul#posts li, body.posts .tools ul li { list-style-type: none; margin-left: 0px; }
/* line 17, ../../../app/stylesheets/screen.sass */
body.posts ul#posts { display: inline; float: left; margin-right: 10px; width: 950px; }
/* line 97, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body.posts ul#posts { overflow-x: hidden; }
/* line 19, ../../../app/stylesheets/screen.sass */
body.posts ul#posts li.post { display: inline; float: left; margin-right: 10px; width: 950px; margin-top: 1em; }
/* line 97, ../../../../../../../../../opt/ruby-enterprise-1.8.6-20090520/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.6/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
* html body.posts ul#posts li.post { overflow-x: hidden; }
